@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');
* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0 20px;
    padding: 0;
    background-color: #05058f;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
}

header {
    text-align: center;

    @media (min-width: 900px) {
        text-align: left;
    }
}

footer {
    height: 5em;
}

#lists-container {
    display: flex;
    flex-direction: column;

    @media (min-width: 900px) {
        flex-direction: row;
    }
}

.file-selector {
    display: flex;
    flex-direction: column;

    #file-path {
        margin: 5px 0 5px 0;
        outline: none;
        cursor: pointer;
        width: fit-content;

        &::-webkit-file-upload-button {
            display: none;
        }

        &::before {
            content: 'Choose File';
            display: inline-block;
            color: #f309f3;
            border: 2px solid #f309f3;
            border-radius: 0.5em;
            padding: 2px 3px 3px 3px;
            font-family: 'Oswald', sans-serif;
            font-size: 1.1em;
            outline: none;
            margin-right: 10px;
        }

        &:hover::before {
            color: #000;
            background-color: #f309f3;
        }
    }

    .file-btn {
        background: none;
        border: none;
        border-bottom: 2px solid #fff;
        font-family: 'Oswald', sans-serif;
        color: #fff;
        font-size: 1.2em;
        width: 50px;
        padding-left: 0;
        text-align: left;
        outline: none;
        cursor: pointer;
        transition: width 2s;
        margin: 10px 0;

        &:hover {
            width: 100px;
        }

        &:active {
            color: #000;
        }
    }
}

.loader-container {
    font-size: 2em;
    margin-top: 10px;
}

.bookmark-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    a {
        cursor: pointer;
        color: #f309f3;
    }

    button {
        cursor: pointer;
        border: none;
    }
}

.bookmark-list {
    border: 1px solid #000;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    list-style: none;
    padding: 10px;
    margin: 0;
    box-shadow: 0 5px 5px #000;
    animation-duration: 0.3s;
    animation-name: slidein;
    position: relative;

    @keyframes slidein {
        from {
            top: -100px;
        }

        to {
            top: 0;
        }
    }

    @media (min-width: 900px) {
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        box-shadow: 3px 0 5px #000;

        @keyframes slidein {
            from {
                left: -100px;
            }
    
            to {
                left: 0;
            }
        }
    }
}

.bookmark-link {
    width: 24px;
    height: 24px;
    outline: none;
    background: url('../assets/icons/box-arrow-up-right.svg') no-repeat;
    background-size: 100%;
    filter: invert(43%) sepia(47%) saturate(3429%) hue-rotate(272deg) brightness(90%) contrast(116%);
}

.folder-btn {
    @extend .bookmark-link;
    background: url('../assets/icons/folder2.svg') no-repeat;
    background-size: 100%;
    filter: invert(43%) sepia(47%) saturate(3429%) hue-rotate(272deg) brightness(90%) contrast(116%);
    padding: 0;

    &:hover {
        background: url('../assets/icons/folder-fill.svg') no-repeat;
        background-size: 100%;
    }
}

.clicked-folder {
    @extend .bookmark-link;
    background: url('../assets/icons/folder-fill.svg') no-repeat;
    background-size: 100%;
}