@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

html,
body {
    margin: 0 0 0 10px;
    padding: 0;
    box-sizing: border-box;
    background-color: #05058f;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
}

#lists-container {
    display: flex;
    flex-direction: row;
}

.file-selector {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 10px;

    label {
        margin-left: 5px;
        vertical-align: middle;
    }
    //TODO: fix dot position in firefox and potentially more?
    input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 2px solid #f309f3;
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;
        outline: none;
        margin: 0;

        &::before {
            content: '';
            display: block;
            border-radius: 50%;
            margin: 50%;
            width: 0;
            height: 0;
            transition: width 0.3s, height 0.3s, margin 0.3s;
        }

        &:checked::before {
            background: #f309f3;
            width: 70%;
            height: 70%;
            margin: 14% 0 0 16%;
        }
    }

    #file-path {
        margin-left: 10px;
        visibility: hidden;

        &::-webkit-file-upload-button {
            display: none;
        }

        &::after {
            content: 'Choose File';
            display: inline-block;
            color: #f309f3;
            border: 1px solid #f309f3;
            border-radius: 0.5em;
            padding: 2px 3px 3px 3px;
            font-family: 'Oswald', sans-serif;
            font-size: 1.1em;
            outline: none;
            margin-left: 10px;
        }

        &:hover::after {
            color: #000;
            background-color: #f309f3;
        }
    }

    .file-choice {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .download-file,
    .browser-file {
        input:hover {
            cursor: pointer;
        }

        label:hover {
            cursor: pointer;
        }
    }

    #choice-two:checked {
        ~ #file-path{
            visibility: visible;
        }
    }

    .file-btn {
        background: none;
        border: none;
        border-bottom: 2px solid #fff;
        font-family: 'Oswald', sans-serif;
        color: #fff;
        font-size: 1.2em;
        width: 50px;
        padding-left: 0;
        text-align: left;
        outline: none;
        cursor: pointer;
        transition: width 2s;

        &:hover {
            width: 100px;
        }

        &:active {
            color: #000;
        }
    }
}

.loader-container {
    font-size: 2em;
    margin-top: 10px;
}

.bookmark-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    a {
        cursor: pointer;
        color: #f309f3;
    }

    button {
        cursor: pointer;
        border: none;
    }
}

.bookmark-list {
    border: 1px solid #000;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    list-style: none;
    padding: 10px;
    margin-right: 0;
    box-shadow: 3px 0 5px #000;
}

.bookmark-link {
    width: 24px;
    height: 24px;
    outline: none;
    background: url('../assets/icons/open-icon.svg');
    filter: invert(43%) sepia(47%) saturate(3429%) hue-rotate(272deg) brightness(90%) contrast(116%);
}

.folder-btn {
    width: 24px;
    height: 24px;
    outline: none;
    background: url('../assets/icons/folder-icon.svg') no-repeat;
    filter: invert(43%) sepia(47%) saturate(3429%) hue-rotate(272deg) brightness(90%) contrast(116%);

    &:hover {
        background: url('../assets/icons/folder-open-icon.svg');
    }
}